@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Geek Peeked<br />
    Cuyahoga Falls, OH 44221<br />
    <abbr title="Phone">P:</abbr>
    330.400.8169
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:geekpeeked+Support@gmail.com">GeekPeeked+Support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:geekpeeked+Marketing@gmail.com">GeekPeeked+Marketing@gmail.com</a>
</address>