@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Alerts")
<div class="jumbotron">
    <h1>Geek Peeked</h1>
    <p class="lead">Movie reviews by a couple of geeks like you</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>Your one stop shop for the current box office hits, upcoming releases, and past favorites</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Movie")">View Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contests</h2>
        <p>Show off your movie knowledge (or lack there of) by competing againsts our movie experts and your own friends in our quarterly movie contests</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Contest")">Enter Contests &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Archives</h2>
        <p>View the Geek Peeked archives which includes; polls, podcasts, videos, and other Geek Peeked content</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Archive")">View Archvies &raquo;</a></p>
    </div>
</div>